#logo{
  color: #fff;
}
.headerDivider{
  float: left;
  height: 44px;
  margin: 10px 0px;
}
#nav{
  float: left;
  background: #001529;
  border: none;
  line-height: 63px
}
#nav a{
  color: #fff
}
.xsNav{
  margin-left: 20px;
  position: absolute;
  right: 0;
  top:0;
  width: auto;
}